@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-raleway: 'Raleway', sans-serif;

  --color-background: #ebebeb;
  --color-primary: #57b846;
  --title-color: #111111;
  --text-color: #555555;
  --border-color: #ebebeb;
}

@layer base {
  html {
    @apply bg-background text-text font-sans antialiased;
  }

  body {
    @apply min-h-screen;
  }

  a {
    @apply text-text transition-colors duration-200 hover:opacity-80;
  }
}